.blink {
    // width: 220px;
    height: 50px;
    background-color: #fc6262;
    // padding: 10px;
    text-align: center;
    line-height: 50px;
}
span {
    font-size: 3rem;
    font-family: 'Righteous', cursive;;
    color: black;
    animation: blink 1.3s linear infinite;
}
@keyframes blink {
    0% {
    opacity: 0;
    }
    50% {
    opacity: .5;
    }
    100% {
    opacity: 1;
    }
}