// font-family: 'IBM Plex Sans Condensed', sans-serif;
// font-family: 'Righteous', cursive;


// Gen Typography
html {
    font-size: 125%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: #fc6262;
}

nav, h1, h2 h3 {
    font-family: 'Righteous', cursive;;
}

li {
    list-style-type: none;
    
}


a {
    text-decoration: none;
    color: #fc6262;
}

.landingContentBox {
    text-align: right;
    margin: 5%;
    align-items: center;
}