// font-family: 'IBM Plex Sans Condensed', sans-serif;
// font-family: 'Righteous', cursive;


// Gen Typography
html {
    font-size: 125%;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: #fc6262;
    line-height: 1.5;
}

nav, h1, h2 h3 {
    font-family: 'Righteous', cursive;;
}

h2 {
    padding: 30px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
        li {
            justify-content: space-between;
            margin: 20px;
            
        }
}

.skills li {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: #fc6262;
}

.landingContentBox {
    text-align: right;
    // margin: 5%;
    align-items: center;
}